* {
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb(226, 196, 157);
}

header {
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
}

p {
    text-align: center;
    font-size: 1.1rem;
}

.container {
    width: 100%;
    height: auto;
    display: flex;
    margin-top: 50px;
    margin-bottom: 1.5rem;
    justify-content: center;
    position: relative;
}

form {
    border: 1px solid black;
    border-radius: 5px;
    background-color: beige;
    width: 400px;
    height: 450px;
    padding: 10px;
}

form label {
    margin-bottom: 5px;
}

form input {
    width: 98%;
    margin: 2px;
    line-height: 20px;
    margin-bottom: 15px;
    
}

form textarea {
    width: 98%;
    height: 200px
}

button {
    padding: 2px 3px;
    width: 98.5%;
    margin-top: 20px
}

button:hover {
    cursor: pointer;
}


.navbar {
    border: 1px solid black;
    position: relative;
    width: 100%;
    height: 10vh;
    background-color: beige;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    /* flex-direction: column; */
}

.nav-right {
    float: right;
}

.navbar .header {
    font-size: 1.5rem;
    font-weight: bold;
    /* find better solution to get links to right side */
    padding: 0 350px 0 10px;
}


.navbar ul li {
    border-radius: 5px;
    display: inline;
    padding: 10px;
}

.navbar ul li:hover {
    cursor: pointer;
    transition: 1s;
    background-color: brown;
    color: white;
}

.socials {
    position: relative;
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}

i {
    margin: 0 1rem;
    color: rgb(73, 19, 19);
}

i:hover {
    cursor: pointer;
}

@media screen and (max-width: 600px) {
    .navbar {
        height: auto;
    }
}
