* {
    padding: 0;
    margin: 0;
}

body {
    background-color: whitesmoke;
}

h1 {
    text-align: center;
    margin-top: 1rem;
}

.container {
    max-width: 800px;
    padding: ;
    height: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: auto;
    margin-top: 1rem;
}

a {
    text-decoration: none;
}

.card {
    border: 1px solid black;
    border-radius: 5px;
    background-color: white;
    height: 250px;
    width: 225px;
    margin: 2rem auto;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.card:hover {
    cursor: pointer;
    transform: scale(1.05);
    transition: 1s;
}

.project-title {
    border-radius: 0 0 5px 5px;
    background-color: rgba(255, 255, 255, 0.5);
    color: black;
    width: 100%;
    height: 33%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.25rem;
}


.navbar {
    border: 1px solid black;
    position: relative;
    width: 100%;
    height: 10vh;
    background-color: beige;
    display: flex;
    align-items: center;
    /* flex-direction: column; */
}

.nav-right {
    float: right;
}

.navbar .header {
    font-size: 1.5rem;
    font-weight: bold;
    /* find better solution to get links to right side */
    padding: 0 350px 0 10px;
}

.navbar ul {
    
}

.navbar ul li {
    border-radius: 5px;
    display: inline;
    padding: 10px;
}

.navbar ul li:hover {
    cursor: pointer;
    transition: 1s;
    background-color: brown;
    color: white;
}


@media screen and (min-width:360px) {
    .container {
        padding: 0 1rem;
    }
    .card {
        margin: 0 1rem;
    }
}

@media screen and (min-width:280px) {
    .container {
        justify-content: center;
    }
    .card {
        margin: 1rem;
    }
}